<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="GameMasterScript.js" type="module"></script>
    <link rel="stylesheet" href="../main.css"/>
    <title>Document</title>
</head>
<body>
<div id="CPR-main-header"></div>
<div class="container">
    <h1>Vue GameMaster</h1>
    <a class="genericBtn" href="./SheetCreator/SheetCreatorView.html">Créateur de fiches</a>
    <a class="genericBtn" href="./ItemCreator/ItemCreatorView.html">Créateur d'Objets</a>
</div>
</body>
</html>